.titles-menu{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
h2.guides{
font-size: large;
}
img.guides{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:5rem
}