// Color Palette 

//Background gradient
$color-from: #09203f;
$color-to: #0B0C10;

// Color basic:
$color-text: #C5C6C7;
$color__tittle-princial:#66FCF1;
$color__tittle-secondary: #45A29E;
$color__hover-gray: #C5C6C7;
$color__background-black:#1F2833;