/*  Reseto de margenes*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    margin: 1.5rem;
}

h1 {
    color: #66FCF1;
    text-align: left;
    font-family: 'Major Mono Display', monospace;
    /*Not a  fan de este fuente*/
    font-size: 4rem;
}

h2 {
    color: #45A29E;
    text-align: left;
    text-decoration: underline;
}

h3 {
    color: #45A29E;
    text-align: left;
    text-decoration: underline;
}

/*  |#45A29E Verde celeste #66FCF1 Celeste  #C5C6C7 Gris  #1F2833 Petroleo/Gris #0B0C10 Negro */

body {
    background-color: #0B0C10;
    color: #C5C6C7;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif';

}

form input {
    background-color: #1F2833;
    color: white;
}

form input[type=text] {
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1rem;
}

form input[type=button], input[type=submit], input[type=reset] {
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    display: inline;
    margin-top: 1rem;
}

input:hover {
    color: #66FCF1;
}

textarea {
    width: 75%;
    height: 100px;
    padding: 12px 20px;
    display: block;
    border: 2px solid #ccc;
    font-size: 16px;
    resize: none;
    background-color: #1F2833;
    color: white;
}

.textoSimple {
    color: #C5C6C7;
    font-size: 1.2rem;
}

div {
    margin-bottom: 1rem;
}

a {
    color: #66FCF1;
    text-decoration: none;
}

a:hover {
    color: #C5C6C7;
}

/* ul ul {
    display: flex;
}

ul ul li {
    display: block;
    width: 100px;
    height: 30px;
    padding: 1rem;
    border: 1px solid #0B0C10;
    text-align: center;
}

ul ul li a {
    color: white;
    display: block;
} */

ul li:hover ul {
    display: block;
    background-color: #45A29E;
}

a:visited {
    text-decoration: none;
}

.headerBannerContainer {
    display: flex;
}

.logoNombre {
    text-align: center;
    flex: 1;
    margin-left: auto;
}

.menuNavegador {
    display: flex;
    list-style: none;
}

.menuNavegador ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menuNavegador ul li {
    list-style: none;
    padding: 4px;
    position: relative;
    transition: 0.5s;
    display: block;
}

.menuNavegador ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.menuNavegador ul li a:hover {
    background: #66FCF1;
}

.menuNavegador ul li ul {
    display: none;
}

.menuNavegador ul li:hover ul {
    display: block;
    position: absolute;
    margin-top: 5px;
    background:#45A29E;
    width: 100%;
    padding: 10px 2px;
    box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);
}

.menuSeccionesPrincipales {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    word-spacing: 2rem;
}

th, td {
    border-radius: 15px;
    border-style: solid;
    border: 2px solid #C5C6C7;
    border-spacing: 1rem;
}

tr th {
    color: #45A29E;
    text-align: center;
}

td {
    text-align: left;
    padding: 1rem;
}

.subTitulosPaginas {
    color: #C5C6C7;
    text-align: center;
    text-decoration: none;
}

#pie {
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
}

/*  border="5" cellpadding="10" cellspacing="10"
REseto de margenes*/